pkgbase = lur-git
	pkgdesc = Local user ropository.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.rnull.gf2e2bb57fa34c18485623de450786d5fa92e6e4a
	pkgrel = 1
	url = https://github.com/themartiancompany/lur
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = ffmpeg
	depends = reallymakepkg
	provides = lur=0.0.0.0.0.0.0.0.0.0.0.0.0.1.rnull.gf2e2bb57fa34c18485623de450786d5fa92e6e4a
	conflicts = lur
	source = lur.tar.gz::https://github.com/themartiancompany/lur/archive/refs/heads/main.tar.gz
	sha256sums = SKIP

pkgname = lur-git
